/* REINICIO DE ESTILO */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    min-height: 100vh;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300&family=Sacramento&family=Source+Sans+Pro:wght@200&display=swap');

/* Cambios basicos */

body {	
		font-family: 'Source Sans Pro', sans-serif;
		height: 100%;
	}

a {
        font-style: none;
        text-decoration: none;
        color:white;
    }

.navbar {
    background-color: #232323;
}

.navbar-brand {
    display: flex;
    width: 10%;
}

.navbar-nav {
    font-family: 'Quicksand', 'sans-serif';
}

.nav-link.active {
    color: black;
    background-color: #FDCDCD;
    font-weight: bold;

}


/* nav ul {
    margin:0%;
}

header nav ul li{
    display: inline-block;
    padding: 20px;
    color: white;
    font-family: 'Quicksand', 'sans-serif';

} */



footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
    height: 164px;
    background-color: #232323;
}

footer h6 {
    font-family:'Quicksand', 'sans-serif';
    font-size: 100%;
    color: white;
    padding: 3% 0;
}

.footerAdress {
    display: flex;
    justify-content: center;
    align-items: center;
}   

.footerAdress img {
    display: inline-block;
    width: 70px;
    padding: 1%;

}   

.footerAdress .texto {
    display: inline-block;
    height: 15%;
}

footer p {
    font-family:'sans-serif', 'Calibri';
    color: #9e9e9e;

}

.footerLogo {
    display: inline-block;
    width: fit-content;
}

.footerLogo img{
    padding-left: 5%;
    width: 40%;
}

.footerMedia {
    width: 30%;
}

.footerMedia a {
    padding: 5%;
}


.footerAdress {
    width: 30%;
}


/*//////////////////////////////////////////////////////////////////////////////////////////////////
INDEX
/////////////////////////////////////////////////////////////////////////////////////////////////*/

.bannerDesktop {
    display: inline-block;
    width: 100%;
}


.bannerMobile {
    display: none;
}





/*//////////////////////////////////////////////////////////////////////////////////////////////////
SOBRE NOSOTROS
/////////////////////////////////////////////////////////////////////////////////////////////////*/

#sobreNosotros {
    background-image: url(../img/background/clouds.jpg);
    background-color: #FDCDCD;
    height: 100%;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.local {
    padding:5%;
    display: flex;
    align-items: center;
}

.local img {
    /*display: inline-block;*/
    border: 1.5vh solid #ffffff;
    padding: 10px;
    border-radius: 50%;
    width: 40%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.personasTexto {
    /*display: inline-block;*/
    padding: 5% 0 5% 5%;
    width: 59%;


}

.personasTexto h2 {
    padding: 10px;
    font-family: 'Quicksand', 'sans-serif';
    font-size: 250%;
    font-weight: bold;
}

.personasTexto p {
    padding: 10px;
    text-align: justify;
    font-family:'sans-serif', 'Calibri';
    font-size: 100%;
}





.equipo {
    width: 100%;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.tarjeta {
    width: 30%;
    margin: 15px;
    padding: 4%;
    background: white;
    border-radius: 50px;

}

.tarjeta img {
    border-radius: 50px;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}
.tarjeta h3 {
    padding: 8% 0 0;
    font-family: 'Quicksand', 'sans-serif';
    font-size: 200%;
    font-weight: bold;
}

.tarjeta p {
    text-align: justify;
    font-family:'sans-serif', 'Calibri';
    font-size: 100%;
    padding: 8% 0 0;
}













@media only screen and (max-width: 768px) {
    
    .bannerDesktop {
        display: none;
    }
    
    
    .bannerMobile {
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    
/*//////////////////////////////////////////////////////////////////////////////////////////////////
SOBRE NOSOTROS
/////////////////////////////////////////////////////////////////////////////////////////////////*/

#sobreNosotros {
    align-items: center;
    justify-content: center;
}


.local {
    padding: 10% 5% 5%;
    display: flex;
    flex-direction: column;
}

.local img {
    /*display: inline-block;*/
    border: 1.5vh solid #ffffff;
    padding: 10px;
    border-radius: 15%;
    width: 90%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.personasTexto {
    /*display: inline-block;*/
    padding: 10px;
    width: 90%;


}

.personasTexto h2 {
    padding: 20px 0;
    font-family: 'Quicksand', 'sans-serif';
    font-size: 200%;
}

.personasTexto p {
    padding: 10px 0;
    text-align: justify;
    font-family:'sans-serif', 'Calibri';
    font-size: 90%;
}





.equipo {
    width: 100%;
    padding: 10% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.tarjeta {
    width: 90%;
    margin: 15px;
    padding: 10%;
    background: white;
    border-radius: 50px;

}

.tarjeta img {
    border-radius: 50px;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}
.tarjeta h3 {
    padding: 8% 0 0;
    font-family: 'Quicksand', 'sans-serif';
    font-size: 200%;
}

.tarjeta p {
    text-align: justify;
    font-family:'sans-serif', 'Calibri';
    font-size: 100%;
    padding: 8% 0 0;
}  
    

}